.kanban-container {
    display: flex;
    overflow-x: auto;
    padding: 0 !important;
    width: 100% !important;
    gap: 5px;
    padding-left: 5px !important;
    scrollbar-width: thin;
    scrollbar-color: #cce4f6 transparent;
}

.kanban-container::-webkit-scrollbar {
    height: 8px;
}

.kanban-container::-webkit-scrollbar-thumb {
    background: #cce4f6;
    border-radius: 4px;
}

.kanban-container::-webkit-scrollbar-track {
    background: transparent;
}

.kanban-board {
    min-height: calc(100vh - 20px);
    overflow-y: auto;
    border-radius: 8px;
    background: #f5f8f8;
    min-width: 280px;
    transition: border-color 0.3s, background-color 0.3s;
    margin: 0 !important;
}

.kanban-board-header {
    background: #dfe2e5;
    color: #616161;
    font-size: 18px;
    font-weight: bold;
    padding: 5px;
    border-radius: 5px 5px 0 0;
}

.kanban-item {
    border-radius: 8px !important;
    background: #f9fcfe !important;
    padding: 10px !important;
    margin: 5px 0 !important;
    border: 1px solid #e0e7ef !important;
    transition: background 0.2s, border-color 0.2s !important;
    cursor: grab !important;
}


.is-moving {
    background: #f9fcfe !important;
    border: 1px solid #e0e7ef !important;
}

.kanban-item:hover {
    background: #e3f2fd;
    border-color: #90caf9;
}

.kanban-title {
    text-decoration: none;
    color: #333;
    font-weight: bold;
    font-size: 14px;
    display: block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.kanban-add-item {
    margin: 10px 0;
    border: 1px dashed #B0C4DE; /* Изменен цвет обводки для элемента добавления */
    border-radius: 6px;
    padding: 10px;
    text-align: center;
    font-size: 14px;
    color: #90caf9;
    background: #f9fcfe;
    cursor: pointer;
    transition: background 0.2s, color 0.2s, border-color 0.2s;
}

.kanban-add-item:hover {
    background: #e3f2fd;
    color: #007bb5;
    border-color: #90caf9;
}

.kanban-drag {
    padding: 5px !important;
    min-height: 100vh !important;
}

.kanban-item.kanban-dragging,
.kanban-item.is-moving,
.kanban-item.gu-transit {
    transform: none !important;
    transition: none !important;
    opacity: 0.8;
    border-color: #90caf9;
    background: #e3f2fd;
}

@media (max-width: 768px) {
    .kanban-board {
        min-width: 200px;
    }

    .kanban-board-header {
        font-size: 16px;
    }

    .kanban-title {
        font-size: 12px;
    }

    .kanban-item {
        padding: 8px;
    }
}
